/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

div.footnotes {
    font-size: $base-font-size * 0.8;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: var(--spacing-unit-half);
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: var(--spacing-unit);
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


table {
    margin: 1em auto;
    border-collapse: collapse;

    td, th {
        border: none;
        padding: 0.3em 0.7em;
    }

    th {
        border-bottom: 1px solid $text-color;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: $headings-font-family;
    color: $headings-color;
}

h1, h2 {
    margin-bottom: 0.4em;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0.7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h2 {
    font-size: 30px;
    margin-top: 1.4em;
}

h3, h4 {
    margin-top: 1em;
}

/**
 * Links
 */
.page-content a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

a.badge {
    text-decoration: none;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: var(--spacing-unit-half);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: $box-background;
    color: white;

    padding: 0.5em 1em;
    overflow-x: auto;

    pre, code {
        background: none;
        border: none;
        padding: 0;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
    }
}

code {
    font-weight: bold;
    font-family: "Roboto Mono";
    font-size: 0.9em;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: var(--content-width);
    margin: auto;
    padding: 0 var(--spacing-unit);
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2em;
    /* We use overflow-wrap: break-word for Safari, which doesn't recognize
       `anywhere`: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap */
    overflow-wrap: break-word;
    /* Then override it with `anywhere`, which is required to make non-Safari browsers break
       more aggressively when we want them to. */
    overflow-wrap: anywhere;
}

.wrapper > * {
    max-width: 100%;
    overflow-x: auto;
    display: block;
}

.wrapper > table {
    overflow-wrap: initial;
}

.wrapper ul {
    list-style-position: inside;
}

.wrapper ul li p {
    display: inline-block;
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
